.btn-nice {
    z-index: 2;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nice img {
    opacity: 0.8;
    margin-left: 20px;
    width: 40px;
    display: none;
    transition: all 0.3s;
}

.btn-nice span {
    transition: all 0.3s;
    color: white;
}

.btn-nice::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #848404;
    border-bottom-color: #848404;
    transform: scale(0.1, 1);
}

.btn-nice:hover span {
    letter-spacing: 2px;
    color: black;
}

.btn-nice:hover img {
    display: block;
}

.btn-nice:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-nice::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
    background-color: #848404;

    border-radius: 5px;
}

.btn-nice:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.hero {
    z-index: 1;
    width: 100%;
    min-height: 900px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
    color: white;

    @media (max-width: 810px) {
        flex-direction: column;
        padding-top: 200px;
    }

    .divider {
        width: 250px;
        height: 3px;
        background-color: white;
        border-radius: 50%;
        margin: 30px 0;
    }

    .hero-intro {
        padding: 110px 5% 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        animation: fadeInLeft 1s forwards;

        @media (min-width: 810px) {
            max-width: 50%;
        }
    
        @media (max-width: 810px) {
            max-width: 100%;
        }

        h3 {
            
        }

        h1 {
            margin-bottom: 30px;
            
        }

        p {
            margin-bottom: 30px;
            font-size: 17px;
            font-weight: 500;
            text-align: justify;
        }
    }

    .formular{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 810px) {
            align-items: end;
            padding: 200px 5% 50px 5%;
        }

        @media (max-width: 810px) {
            align-items: center;
            width: 100%;
            padding: 50px 5% 50px 5%;
        }

        @media (max-width: 400px) {
            scale: 0.80;
        }
    }

    #thanks-message, .contact-form{
        @media (min-width: 810px) {
            min-width: 400px;
        }

        @media (max-width: 810px) {
            min-width: 350px;
        }
        min-height: 500px;
        background-color: white;
        padding: 40px;
        border-radius: 20px;
        display: none;
        flex-direction: column;
        gap: 20px;
    }

    #thanks-message.active {
        display: flex;
        justify-content: center;
        color: black;
    }

    .contact-form.active {
        display: flex;
    }

    label {
        color: black;
    }

    .duo-form{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-group{
            width: 48%;
        }
    }
}

/* Vidéo de fond */
#bg-video {
    position: absolute;
    width: 110%;
    height: 110%;
    z-index: -1;
    object-fit: cover;
    object-position: right;
    filter: brightness(0.6) blur(5px);

}