footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: black;
}

.footer-top,
.footer-info,
.copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 850px) {

    .footer-top,
    .footer-info,
    .copyright {
        flex-direction: column;
        gap: 30px;
    }
}

.footer-top {
    background-color: black;

    @media (max-width: 1200px) {
        padding: 50px 5% 20px 5%;
    }

    @media (min-width: 1200px) {
        padding: 50px 15% 20px 15%;
    }

    img {
        width: 300px;
        object-fit: contain;
        object-position: center;
    }

    .permalinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: 17px;
    }
}

.footer-info {
    background-color: black;

    @media (max-width: 1200px) {
        padding: 50px 5% 20px 5%;
    }

    @media (min-width: 1200px) {
        padding: 50px 15% 20px 15%;
    }

    color: white;

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;
    }

    .list-info {
        display: flex;
        flex-direction: column;
        justify-content: center;


        @media (max-width: 850px) {
            align-items: start;
        }

        @media (min-width: 850px) {
            align-items: end;
        }

        gap: 20px;
        color: white;
        font-size: 17px;

        .info {
            display: flex;
            gap: 20px;

            @media (min-width: 850px) {
                justify-content: end;
                align-items: end;

                p {
                    text-align: right;
                }
            }

            @media (max-width: 850px) {
                flex-direction: row-reverse;
                justify-content: start;
                align-items: end;


            }

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.copyright {
    background-color: #FACB01;

    @media (max-width: 1200px) {
        padding: 50px 5% 20px 5%;
    }

    @media (min-width: 1200px) {
        padding: 50px 15% 20px 15%;
    }

    p img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        object-position: center;
    }

    .socials {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 50px;

        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            object-position: center;
        }
    }
}