html {
    scroll-behavior: smooth;
  }  

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#scrollToTopBtn {
    display: none; /* Masqué par défaut */
    position: fixed; /* Fixé en position */
    bottom: 20px; /* Distance du bas */
    right: 30px; /* Distance de la droite */
    z-index: 99; /* Assurez-vous qu'il s'affiche par-dessus tout */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour */
    background-color: #555; /* Couleur de fond */
    color: white; /* Couleur du texte */
    cursor: pointer; /* Curseur pointeur */
    padding: 15px; /* Espacement */
    border-radius: 10px; /* Bords arrondis */
    font-size: 18px; /* Taille du texte */
}

#scrollToTopBtn:hover {
    background-color: #333; /* Couleur de fond au survol */
}

header {
    position: relative;
    z-index: 2;
    height: 120px;
    padding: 0% 5% 0% 5%;
    margin-bottom: -200px;
}

header:hover{
    background-color: black;
    transition: background-color 0.3s ease;

    .menu{
        border-bottom: 1px solid black;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.menu-left {
    display: flex;
    justify-content: space-between;
    gap: 100px;

}

.menu a {
    text-decoration: none;
    color: white;
}

.principal-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-logo{
    width: 300px;
}

.menu-link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 90px;
    padding-top: 20px;
}

.menu-option {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    cursor: pointer;

    .option-title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;
    }

    p{
        font-weight: bold;
        font-size: 18px;
    }

    img{
        width: 15px;
        transition: all 0.2s ease;
    }

    .list-options{
        position: absolute;
        overflow: hidden;
        width: 300px;
        height: 0px;
        transition: all 0.5s ease;
        background-color: black;
        top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: white;
        font-size: 17px;

        a{
            padding: 10px 30px;
            height: 70px;
            width: 100%;
            transition: all 0.2s ease;
            display: flex;
            align-items: center;
        }

        a:hover{
            background-color: rgb(22, 22, 22);
        }
    }
}

.menu-option:hover {
    img{
        transform: rotate(180deg);
    }
    .list-options {
        height: 250px;
    }
}

.menu-end {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.menu-global {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

#menu-search-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
}

.menu-toggle {
    display: none; /* Masquer le bouton par défaut */
}

#myDropdown{
    width: 110px;
    height: 50px;
    align-self: center;
    background-color: transparent;
    border: 2px solid white;
    border: none;
    color: white;

    img{
        width: 20px;
        height: 20px;
    }
}

.langue-fr {
    display: none;
}
.langue-en {
    display: block;
}

h1, h2, h3, h4, h5, h6, p, label{
    font-family: 'Roboto', sans-serif;
}

