.carousel-container {
    z-index: 1;
    width: 100%;
    height: 800px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
}

.carousel {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.item {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.caption {
    max-width: 500px;
    padding: 20px;
    position: absolute;
    bottom: 30%;
    left: 15%;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
}

.item.active {
    opacity: 1;
    z-index: 1;
}

.dots {
    display: flex;
    align-items: last baseline;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    right: 15%;
    z-index: 2;
}

.dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #242421;
    transition: background-color 0.2s ease;
    border-radius: 15px;
}

.dot.active,
.dot:hover {
    background-color: #ffffe6;
}

.about-us-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px 15%;

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
    }

    p{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}

.about-our-mission{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 15% 50px 15%;

    img{
        width: 200px;
        height: 200px;
    }

    div{
        width: 60%;
        min-width: 300px;
    }

    
}

.about-our-vision{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 15% 50px 15%;

    img{
        width: 200px;
        height: 200px;
    }

    .about-our-vision-p1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div{
            min-width: 300px;
            margin-bottom: 100px;
        }
    }

    .about-our-vision-p2{
        align-items: center;
    }

    h5{
        color: rgb(250, 203, 1);
    }
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 15% 50px 15%;
    height: 700px;
    background-image: url("../images/Homepage-picture-scaled.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;

    .services-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: -1;
    }

    .services-title{
        display: flex;
        justify-content: space-around;
    }

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
    }

    h3{
        font-weight: bold;
        color: white;
    }

    h4{
        font-weight: 300;
        color: white;
    }

    .services-button{
        display: flex;
        justify-content: end;
    }
}

.our-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px 15%;

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
    }

    div {margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    img {
        width: 200px; /* Adjust the width as needed */
        height: auto;
        max-width: 100%;
    }
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 15% 50px 15%;
    background-color: black;

    .blog-title{
        display: flex;
        justify-content: space-around;
    }

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
    }

    .blog-boxs{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .blog-article{
        width: 300px;
        height: 300px;
        margin-bottom: 100px;
        padding-top: 100px;
        position: relative; /* Positionner les éléments internes correctement */
        color: white; 

        h6{
            color: black;
            font-weight: bold;   
        }

        .blog-article-title{
            width: 300px;
            height: 200px;
            padding: 30px 30px 0px 30px;
            box-sizing: border-box;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.664) 40%, rgba(0, 0, 0, 0));
        }

        .blog-article-info {
            position: absolute;
            bottom: -70px; /* Ajuste selon tes besoins */
            left: 30px;
            right: 30px;
            color: white;
            font-size: 14px;
            background: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent pour une meilleure lisibilité */
            padding: 10px;
            border-radius: 5px; /* Pour des coins arrondis */
        }
        
        .blog-article-author,
        .blog-article-date {
            margin: 0;
        }
    }

    .blog-button{
        display: flex;
        justify-content: center;
    }
}

.our-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px 15%;

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
    }

    h5, h6{
        text-align: center;
    }

    .teams {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .team-box{
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .team-icon-1, .team-icon-2, .team-icon-3, .team-icon-4{
        width: 125px; /* Adjust the width as needed */
        height: 125px;
        max-width: 100%;
        border-radius: 100px;
        background-size: cover;
        background-position: center;
    }

    .team-icon-1 {
        background-image: url('../images/team-ceo.png');
    }

    .team-icon-2 {
        background-image: url('../images/team-awalou.png');
    }
    .team-icon-3 {
        background-image: url('../images/team-idrissa.png');
    }
    .team-icon-4 {
        background-image: url('../images/team-poda.png');
    }

    .team-button{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}