main {
    background-color: #EFEFEF;
}

.hero {
    z-index: 1;
    width: 100%;
    height: 900px;
    position: relative;
    color: white;
    display: flex;
    align-items: end;

    .divider {
        width: 50%;
        height: 4px;
        border-radius: 50%;
        background-color: white;
    }

    .hero-img {
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        filter: brightness(0.4);
    }

    .hero-intro {
        position: absolute;
        max-width: 800px;
        margin: 0 5%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        gap: 30px;
        animation: fadeInLeft 1s forwards;

        h1 {
            font-size: 48px;
            font-weight: bold;
        }

        h3 {
            font-size: 36px;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            font-weight: 500;
        }
    }
}


.blog-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 5% 30px 5%;
    gap: 50px;
    position: relative;
}

.search-group {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        height: 50px;
        border-radius: 35px;
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        padding: 15px;
        flex-grow: 1;
    }

    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        display: none;
    }

    input:focus {
        outline: none;
    }

    .vertical-divider {
        width: 1px;
        height: 30px;
        background-color: gray;
    }

    button {
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            object-fit: contain;
            object-position: center;
        }
    }

    
    #filter-addon-active{
        display: none;
    }

}

.blog-filter.active{
    #filter-addon{
        display: none;
    }

    #filter-addon-active{
        display: block;
    }

    .other-filter{
        display: flex;
    }
    
}

#search-addon {
    border-radius: 25px 0px 0px 25px;
}

#clear-addon {
    border-radius: 0px 25px 25px 0px;
}

.other-filter {
    position: absolute;
    width: 50%;
    right: 0px;
    padding: 30px;
    display: none;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: white;
    margin-top: 60px;
    box-shadow: 8px 8px 0px #00000041;
    animation: fadeInDown 0.5s forwards;

    select,
    input {
        padding: 10px;
        min-width: 170px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #EAEAEA;
    }

}

.blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 5%;

}

.modal-header {
    align-items: end;
    border: none;
}

#article-content-dialog {
    padding: 30px;

    div {
        padding: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: justify;

        h3 {
            font-weight: bold;
        }

        p {
            font-size: 18px;
        }
    }
}

.article-dialog-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}

.article-boxs {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

}

.article {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 45%;
    transition: all 0.4s ease;
    animation: fadeInUp 0.5s forwards;

    img {
        width: 100%;
        height: 250px;
        border-radius: 15px;
        object-position: top;
        object-fit: cover;
        background-color: #5646E2;
    }

    .article-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px;

        h5 {
            font-weight: bold;
        }

        button {
            text-decoration: none;
            color: black;
            background-color: white;
            text-align: start;
            padding: 0px;
            border: none;

            h5 {
                font-size: 22px;
            }
        }

        button:hover {
            color: #816a02;
            font-size: 30px;
            h5 {
                font-size: 25px;
                transition: all 0.7s ease;
            }
        }
        
    }

    .div-category {
        display: flex;
        align-items: center;
        font-weight: 700;
        color: gray;
        gap: 15px;

        h6 {
            margin: 0px;
        }

        .divider {
            width: 30px;
            background-color: gray;
            height: 2px;
        }
    }
}

.article:hover {
    box-shadow: 13px 10px 10px #00000034;
}

@media (min-width: 600px) {
    .article:nth-child(2n+2) {
        margin-top: 100px;
        /* Décalage vers le bas de la 2ème colonne */
    }
}

@media (max-width: 600px) {
    .article {
        width: 100%;
        margin-bottom: 30px;
    }
}

.socials-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 50px 5%;

    h3 {
        font-weight: bold;
    }

    .socials-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .socials-post {
        width: 100%;
        display: flex;
        min-height: 0px;
        flex-direction: column;
        border-bottom: 1px solid black;
        transition: all 1s ease;
        gap: 10px;

        .title {
            display: flex;
            align-items: center;
            gap: 30px;
            overflow: hidden;
            height: 60px;
            cursor: pointer;

            img {
                width: 60px;
            }

            .social-minus-icon {
                display: none;
            }
        }

        .social-link {
            margin-left: 90px;
            font-size: 18px;
            color: #005EEA;
            text-decoration: none;
            overflow: hidden;
            height: 0px;
            transition: all 1s ease;
        }
    }

    .socials-post.open {
        min-height: 500px;

        .social-link {
            height: 30px;
        }

        .social-more-icon {
            display: none;
        }

        .social-minus-icon {
            display: block;
        }
    }
}

.media-code {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 5%;

    h3 {
        font-weight: bold;
        margin-bottom: 30px;
    }

    .code1 {
        animation: slideInLeft 0.5s forwards;

        .caption {
            @media (min-width: 760px) {
                margin: 50px 0 50px 35%;
            }
        }

    }

    .code2 {
        animation: slideInRight 0.5s forwards;

        .caption {
            @media (min-width: 760px) {
                margin: 50px 0;
            }
        }

        .codeimg {
            @media (min-width: 760px) {
                margin-left: 60%;
            }
        }
    }

    .code {
        width: 100%;
        display: flex;
        align-items: center;

        @media (min-height: 760px) {
            min-height: 500px;
            justify-content: space-between;
            position: relative;
        }

        @media (max-width: 760px) {
            scale: 1;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .codeimg {
            object-fit: cover;
            object-position: center;

            @media (min-width: 760px) {
                position: absolute;
                width: 40%;
                height: 100%;
                border-radius: 15px;
            }

            @media (max-width: 760px) {
                width: 100%;
                height: 200px;
                border-radius: 15px 15px 0px 0px;
            }
        }

        .caption {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 20px;
            z-index: 1;

            @media (min-width: 760px) {
                padding: 50px;
                border-radius: 15px;
                min-height: 300px;
                width: 65%;
            }

            @media (max-width: 760px) {
                border: 1px solid black;
                padding: 20px;
                border-radius: 0px 0px 15px 15px;
                width: 100%;
            }
        }



        h3 {
            font-weight: bold;
        }

        .more-info {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: black;
            display: flex;
            gap: 20px;
            align-items: center;
            padding: 10px 20px;
            border-radius: 25px;
            height: 50px;
            background-color: #E5F04A;
            transition: all 0.3s ease;

            img {
                width: 30px;
                transition: all 0.3s ease;
            }
        }

        a:hover {
            background-color: #FACB01;

            img {
                width: 40px;
            }
        }

        p {
            text-align: justify;
            font-size: 18px;
        }
    }
}
