.hero {
    z-index: 1;
    width: 100%;
    height: 300px;
    margin: auto;
    position: relative;
    background-image: url('../images/home-page-carroussel-2.png');
    background-size: cover;
    background-position: center;
}

.page-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px 15%;

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
        font-size: 70px;
    }
}

.services-menu-box {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    animation: fadeIn 2s forwards;
    opacity: 0; /* Initialement invisible */
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.service-intro div {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    animation: slideRight 0.5s forwards;
    opacity: 0; /* Initialement invisible */
}

@keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.service-intro img {
    animation: slideLeft 0.5s forwards;
    opacity: 0; /* Initialement invisible */
}

@keyframes slideLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.visible {
    opacity: 1; /* Rendre l'élément visible */
}

.services-menu{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    flex-wrap: wrap;
    padding: 30px 15%;

    .services-menu-box{
        display: flex;
        align-items: center;
        width: 450px;
        padding: 20px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border-radius: 20px;

        img{
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
    }

    .services-menu-box:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
}

#title-back1, #title-back2, #title-back3, #title-back4{
    background-size: cover;
    background-position: center;
    padding: 30px 15%;
    color: white;
    position: relative;
    z-index: 2;
}

#title-back1{
    background-image: url('../images/audit-back.jpg');
}

#title-back2{
    background-image: url('../images/risk-prevention.jpg');
}

#title-back3{
    background-image: url('../images/market-crisis.jpg');
}

#title-back4{
    background-image: url('../images/booster.jpg');
}

.title-back-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.divider{
    width: 200px;
    height: 4px;
    background-color: white;
    margin: 0 50px;
    border-radius: 2px;
}

.service-intro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0px;

    div{
        max-width: 500px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    img {
        aspect-ratio: 16/9; /* ou un autre rapport d'aspect souhaité */
        width: 50%;
        height: auto; /* la hauteur sera calculée en fonction de la largeur et du rapport d'aspect */
    }
}

.service-gain{
    padding: 50px 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .service-gain-title{
        max-width: 500px;
        h4{
            text-align: center;
        }
    }

    ul{
        padding: 5px;
        width: 250px;
    }
    

    .service-gain-list{
        margin: 30px 0px;
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }
}

.service-program-benefit{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px 15%;
    align-items: center;
    
    .service-program-benefit-title{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        img{
            margin-bottom: 50px;
            width: 350px;
            height: 245px;
        }
    }

    .service-benefits{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }

    .benefit-list{
        display: flex;
        flex-direction: column;

        div{
            display: flex;
            align-items: center;

            img{
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
        }

        li{
            margin: 20px;
        }
    }
    
}

.service-work{
    padding: 50px 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .service-work-title{
        display: flex;
        flex-direction: column;
        width: 250px;
        justify-content: center;
    }

    ul{
        padding: 5px;
        width: 220px;
    }
    

    .service-work-list{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

#service-1{
    padding: 100px 0px;

    .service-title{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .service-intro{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 50px 0px;

    div{
        max-width: 500px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

    .service-duration-and-steps{
        padding: 50px 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .service-duration{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            justify-content: center;
        }

        img{
            width: 100px;
            height: 100px;
        }
        

        .service-steps{
            display: flex;
            max-width: 500px;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: center;

            div{
                border-radius: 10px;
                border: 1px solid black;
                background-color: white;
                padding: 10px;
                width: 200px;
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                position: relative;

                p{
                    text-align: center;
                }
            }

            div::before {
                content: '';
                position: absolute;
                border-radius: 10px;
                top: 10px; /* Décalage vertical de l'ombre */
                left: 10px; /* Décalage horizontal de l'ombre */
                width: 100%;
                height: 100%;
                background-color: black; /* Couleur de l'ombre */
                z-index: -1; /* Placer l'ombre derrière le conteneur */
            }
        }
    }
}

#service-2{
    padding: 100px 0px;

    .service-title{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .service-duration-and-steps{
        padding: 50px 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .service-duration{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            justify-content: center;
        }

        img{
            width: 100px;
            height: 100px;
        }
        

        .service-steps{
            display: flex;
            max-width: 500px;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: center;

            div{
                border-radius: 10px;
                border: 1px solid black;
                background-color: white;
                padding: 10px;
                width: 200px;
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                position: relative;

                p{
                    text-align: center;
                }
            }

            div::before {
                content: '';
                position: absolute;
                border-radius: 10px;
                top: 10px; /* Décalage vertical de l'ombre */
                left: 10px; /* Décalage horizontal de l'ombre */
                width: 100%;
                height: 100%;
                background-color: black; /* Couleur de l'ombre */
                z-index: -1; /* Placer l'ombre derrière le conteneur */
            }
        }
    }
}



#service-3{
    padding: 100px 0px;

    .service-title{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .service-intro{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        margin: 50px 0px;
    
        div{
            max-width: 500px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .service-duration-and-steps{
        padding: 50px 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .service-duration{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            justify-content: center;
        }

        img{
            width: 100px;
            height: 100px;
        }
        

        .service-steps{
            display: flex;
            max-width: 500px;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: center;

            div{
                border-radius: 10px;
                border: 1px solid black;
                background-color: white;
                padding: 10px;
                width: 200px;
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                position: relative;

                p{
                    text-align: center;
                }
            }

            div::before {
                content: '';
                position: absolute;
                border-radius: 10px;
                top: 10px; /* Décalage vertical de l'ombre */
                left: 10px; /* Décalage horizontal de l'ombre */
                width: 100%;
                height: 100%;
                background-color: black; /* Couleur de l'ombre */
                z-index: -1; /* Placer l'ombre derrière le conteneur */
            }
        }
    }
}    

#service-4{
    padding: 100px 0px;

    .service-title{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .service-duration-and-steps{
        padding: 50px 15%;
        display: flex;
        justify-content: center;

        .service-duration{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            justify-content: center;
            align-items: center;
        }

        img{
            width: 100px;
            height: 100px;
        }
        
    }
}

a{
    text-decoration: none !important;
    h5, h6{
        color: black;
    }
}