.hero {
    z-index: 1;
    width: 100%;
    height: 300px;
    margin: auto;
    position: relative;
    background-image: url('../images/home-page-carroussel-2.png');
    background-size: cover;
    background-position: center;

    h1{
        color: rgb(250, 203, 1);
    }
}

.page-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 15% 50px 15%;

    h1{
        font-weight: bold;
        color: rgb(250, 203, 1);
        font-size: 70px;
    }
}

.member-text p {
    text-align: justify;
}

.about-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15% 20px 15%;
    background-color: #797979;

    color: black;

    .member-text{
        min-width: 300px;
    }
}

.member1, .member3{
    background-color: white;
}

.member2, .member4{
    background-color: #797979;
}

.team-box{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h5, h6{
        text-align: center;
    }
}

.team-icon-1, .team-icon-2, .team-icon-3, .team-icon-4{
    width: 200px; /* Adjust the width as needed */
    height: 200px;
    margin-bottom: 20px;
    border-radius: 200px;
    background-size: cover;
    background-position: center;
}

.team-icon-1 {
    background-image: url('../images/team-ceo.png');
}

.team-icon-2 {
    background-image: url('../images/team-awalou.png');
}
.team-icon-3 {
    background-image: url('../images/team-idrissa.png');
}
.team-icon-4 {
    background-image: url('../images/team-poda.png');
}